/*!
 *  基于vue-admin-beautiful构建 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-7-2 12:48:39
 */.excel-upload-input[data-v-2c7cbeab]{z-index:-9999;display:none}.drop[data-v-2c7cbeab]{position:relative;width:600px;height:160px;margin:0 auto;font-size:24px;line-height:160px;color:#bbb;text-align:center;border:2px dashed #bbb;border-radius:5px}