/*!
 *  基于vue-admin-beautiful构建 
 *  copyright: chuzhixin 1204505056@qq.com 
 *  time: 2020-7-2 12:48:39
 */.json-editor[data-v-763e05ce]{position:relative;height:100%}.json-editor[data-v-763e05ce] .CodeMirror{height:auto;min-height:calc(100vh - 220px)}.json-editor[data-v-763e05ce] .CodeMirror-scroll{min-height:calc(100vh - 220px)}.json-editor[data-v-763e05ce] .cm-s-rubyblue span.cm-string{color:#f08047}.json-editor[data-v-763e05ce] .cm-s-rubyblue .CodeMirror-gutters{padding-right:10px;border-right:1px solid #fff}.json-editor[data-v-763e05ce] .cm-s-rubyblue.CodeMirror{color:#fff}